In [1]:
# pip install elm

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("csv_result-KC2.csv")
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,no
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,no
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,no
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,no
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,no

In [4]:
data.tail()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
517,518,4.0,1.0,1.0,1.0,5.0,11.61,0.50,2.0,5.80,...,2,0,0,0,4.0,1.0,4.0,1.0,1.0,yes
518,519,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
519,520,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
520,521,4.0,1.0,1.0,1.0,5.0,11.61,0.67,1.5,7.74,...,2,0,0,0,3.0,2.0,3.0,2.0,1.0,yes
521,522,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.0,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,yes

In [5]:
d = {'no': 0, 'yes': 1}
data['CLASS'] = data['CLASS'].map(d).fillna(data['CLASS'])

In [6]:
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,0
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,0

# feature Matrix Generation

In [7]:
# Separate features and target
X = data.drop(columns=['CLASS'])  # Replace 'target' with your actual target column name
y = data['CLASS']

In [8]:
# print(type(sclaed_feature))

In [9]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [10]:
X.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,1.30,2,2,2,2,1.2,1.2,1.2,1.2,1.4
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,0.00,1,0,0,0,1.0,0.0,1.0,0.0,1.0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,28.29,8,0,1,0,9.0,7.0,13.0,9.0,3.0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,25.09,8,0,0,0,8.0,4.0,11.0,7.0,3.0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3.52,3,0,0,1,4.0,5.0,5.0,5.0,1.0

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: CLASS, dtype: int64

In [12]:
print(type(y))

<class 'pandas.core.series.Series'>

In [13]:
y = y.to_frame()
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [14]:
y.head()

   CLASS
0      0
1      0
2      0
3      0
4      0

In [15]:
X.fillna(method='ffill',inplace=True)
X = pd.get_dummies(X,drop_first=True)

/var/folders/29/qgdtjbz504l5y0fqzxvwjwy00000gn/T/ipykernel_4792/442477162.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X.fillna(method='ffill',inplace=True)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sclaed_feature = scaler.fit_transform(X)

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [17]:
sclaed_feature = pd.DataFrame(sclaed_feature)
print(type(sclaed_feature))

<class 'pandas.core.frame.DataFrame'>

In [18]:
sclaed_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.728736,-0.459678,-0.318567,-0.157259,-0.279626,-0.400550,-0.305207,3.724554,-0.761444,-0.839282,...,-0.144850,-0.400375,0.000000,-0.254084,1.656694,-1.258671,-0.601206,-0.394890,-0.396662,-0.335974
1,-1.682282,-0.435278,-0.355043,-0.217331,-0.329333,-0.401838,-0.305923,-0.996800,-0.878794,-0.879661,...,-0.145022,-0.415910,-0.358635,-0.471336,-0.271498,-1.290147,-0.655589,-0.396290,-0.409950,-0.354221
2,-1.675646,-0.294016,-0.263854,-0.217331,-0.205066,-0.311711,-0.257458,-0.379392,-0.356137,-0.407223,...,-0.141275,-0.307163,-0.358635,-0.362710,-0.271498,-0.031114,-0.338352,-0.312288,-0.310295,-0.262987
3,-1.669010,-0.345384,-0.263854,-0.217331,-0.205066,-0.328878,-0.270384,-0.488346,-0.246911,-0.593279,...,-0.141698,-0.307163,-0.358635,-0.471336,-0.271498,-0.188493,-0.474311,-0.326288,-0.332441,-0.262987
4,-1.662374,-0.371068,-0.355043,-0.217331,-0.329333,-0.363212,-0.288464,0.819105,-0.698256,-0.387344,...,-0.144556,-0.384840,-0.358635,-0.471336,0.692598,-0.818009,-0.428991,-0.368289,-0.354586,-0.354221

# Feature matrix dimention reduction by PCA

In [19]:
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [20]:
pca = PCA(n_components=5)

In [21]:
X_train_pca = pca.fit_transform(sclaed_feature)
print(type(X_train_pca))

<class 'numpy.ndarray'>

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [22]:
X_train_pca = pd.DataFrame(X_train_pca)
X_train_pca.head()

          0         1         2         3         4
0 -1.353738  3.596269  1.134997  2.277400  0.609976
1 -1.949459  0.875410  1.235818 -0.968379 -0.646147
2 -1.269706  0.390251  1.407840 -0.826558 -0.284107
3 -1.392155  0.410550  1.424260 -0.802650 -0.401285
4 -1.621556  1.462893  1.332135  0.367427 -0.258586

In [24]:
# from sklearn.metrics import classification_report
# from elm import ELMClassifier

# Train Test Split

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_pca, y, test_size=0.3, random_state=42)

# ELM model

In [26]:
import numpy as np

class ExtremeLearningMachine:
    def __init__(self, n_hidden_units):
        self.n_hidden_units = n_hidden_units
        self.input_weights = None
        self.biases = None
        self.output_weights = None

    def _activation_function(self, X):
        return np.maximum(0, X)  # ReLU activation

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.input_weights = np.random.randn(n_features, self.n_hidden_units)
        self.biases = np.random.randn(self.n_hidden_units)

        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        self.output_weights = np.linalg.pinv(hidden_layer_output).dot(y)

    def predict(self, X):
        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        return np.dot(hidden_layer_output, self.output_weights)

# Example usage
if __name__ == "__main__":
    

    elm = ExtremeLearningMachine(n_hidden_units=20)
    elm.fit(X_train, y_train)
    predictions = elm.predict(X_test)
    print(predictions)

[[ 0.82320875]
 [ 0.68712963]
 [ 0.39636879]
 [-0.04921582]
 [ 0.06707582]
 [-0.01478436]
 [ 0.66609311]
 [ 0.93204116]
 [-0.03898564]
 [-0.19743959]
 [ 0.12985791]
 [ 0.78866345]
 [-0.03586136]
 [ 0.79311059]
 [ 0.76540246]
 [-0.18840464]
 [ 0.06376351]
 [-0.01077543]
 [ 0.36976025]
 [ 0.01348989]
 [ 0.24147274]
 [ 0.94798629]
 [-0.0431489 ]
 [ 0.06284089]
 [ 0.80738053]
 [-0.04106613]
 [-0.10539802]
 [ 0.83047904]
 [ 0.80052831]
 [ 0.79025922]
 [ 0.59058186]
 [ 0.06551941]
 [ 0.23526603]
 [ 0.09407795]
 [ 0.32313454]
 [ 0.25318645]
 [ 0.26268974]
 [ 0.03809297]
 [ 0.17949834]
 [ 0.15772552]
 [ 0.04382155]
 [ 0.00635339]
 [-0.07182116]
 [ 0.01247884]
 [ 0.48617382]
 [-0.02121405]
 [-0.08972009]
 [-0.13056858]
 [ 0.54326168]
 [ 0.09595368]
 [ 0.47123069]
 [-0.00636062]
 [ 0.68614062]
 [ 0.78497813]
 [-0.0744719 ]
 [-0.06638346]
 [-0.00163026]
 [-0.0466062 ]
 [ 0.84797017]
 [ 0.18113806]
 [ 0.09993801]
 [-0.09064878]
 [ 0.05172775]
 [-0.05270495]
 [ 0.36337673]
 [ 0.34160167]
 [ 0.07201412]
 [-0.17074474]
 [-0.02898653]
 [ 0.29133734]
 [-0.16930826]
 [-0.10177039]
 [-0.16650523]
 [ 0.98067064]
 [ 0.10226201]
 [ 0.0342033 ]
 [ 0.08899133]
 [ 0.18619391]
 [-0.10236486]
 [ 0.24979841]
 [-0.10259682]
 [ 0.83466207]
 [-0.08154929]
 [ 0.78826143]
 [-0.01380859]
 [ 0.77514809]
 [ 0.24627861]
 [-0.04791101]
 [ 0.03502075]
 [ 0.14401223]
 [ 0.05604517]
 [ 0.11549268]
 [ 0.7975414 ]
 [ 0.11056264]
 [ 0.01352984]
 [ 0.14503229]
 [-0.0653724 ]
 [ 0.28628999]
 [ 0.14707121]
 [ 0.38126568]
 [ 0.14063963]
 [ 0.60167664]
 [-0.0287399 ]
 [ 1.1435823 ]
 [ 0.0772953 ]
 [-0.07649401]
 [ 0.07760295]
 [ 0.13223606]
 [ 0.02897736]
 [-0.1250629 ]
 [ 0.19671251]
 [-0.08761562]
 [-0.06739451]
 [-0.04818447]
 [-0.04522614]
 [ 0.04783537]
 [-0.07851612]
 [ 0.12202753]
 [ 0.75224011]
 [-0.15298201]
 [ 0.87758475]
 [ 0.38424583]
 [-0.06031713]
 [ 1.46648676]
 [ 0.27170139]
 [ 0.64440982]
 [ 0.34768722]
 [ 0.11296442]
 [ 0.8742826 ]
 [-0.17108659]
 [ 0.42902036]
 [-0.0705832 ]
 [ 0.40387632]
 [-0.1392655 ]
 [ 0.31327172]
 [ 0.19364046]
 [ 0.71136954]
 [-0.10326538]
 [ 0.18602612]
 [ 0.67172084]
 [ 0.35397344]
 [ 0.00284042]
 [-0.11651963]
 [-0.15035969]
 [-0.05417014]
 [-0.02671817]
 [ 0.72144421]
 [ 0.03707482]
 [-0.03945909]
 [-0.24663713]
 [-0.0835714 ]
 [ 0.1451146 ]
 [ 0.02699276]
 [ 0.47215716]
 [ 0.16111052]
 [ 0.03842661]
 [-0.11058562]]

In [27]:
print(type(predictions))

<class 'numpy.ndarray'>

## If prediction result is grater than .5 then its predict 1 (means software fault)
## if prediction result is less than .5 or negative then its predict 0 (means software not fault)

In [28]:
predictions = pd.DataFrame(predictions)
predictions.head()

          0
0  0.823209
1  0.687130
2  0.396369
3 -0.049216
4  0.067076

In [31]:
predictions.shape

(157, 1)

In [32]:
data.shape

(522, 23)