In [1]:
# pip install elm

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("csv_result-KC2.csv")
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,no
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,no
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,no
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,no
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,no

In [4]:
data.tail()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
517,518,4.0,1.0,1.0,1.0,5.0,11.61,0.50,2.0,5.80,...,2,0,0,0,4.0,1.0,4.0,1.0,1.0,yes
518,519,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
519,520,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
520,521,4.0,1.0,1.0,1.0,5.0,11.61,0.67,1.5,7.74,...,2,0,0,0,3.0,2.0,3.0,2.0,1.0,yes
521,522,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.0,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,yes

In [5]:
d = {'no': 0, 'yes': 1}
data['CLASS'] = data['CLASS'].map(d).fillna(data['CLASS'])

In [6]:
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,0
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,0

# feature Matrix Generation

In [7]:
# Separate features and target
X = data.drop(columns=['CLASS'])  # Replace 'target' with your actual target column name
y = data['CLASS']

In [8]:
# print(type(sclaed_feature))

In [9]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [10]:
X.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,1.30,2,2,2,2,1.2,1.2,1.2,1.2,1.4
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,0.00,1,0,0,0,1.0,0.0,1.0,0.0,1.0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,28.29,8,0,1,0,9.0,7.0,13.0,9.0,3.0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,25.09,8,0,0,0,8.0,4.0,11.0,7.0,3.0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3.52,3,0,0,1,4.0,5.0,5.0,5.0,1.0

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: CLASS, dtype: int64

In [12]:
print(type(y))

<class 'pandas.core.series.Series'>

In [13]:
y = y.to_frame()
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [14]:
y.head()

   CLASS
0      0
1      0
2      0
3      0
4      0

In [15]:
X.fillna(method='ffill',inplace=True)
X = pd.get_dummies(X,drop_first=True)

/var/folders/29/qgdtjbz504l5y0fqzxvwjwy00000gn/T/ipykernel_5069/442477162.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X.fillna(method='ffill',inplace=True)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sclaed_feature = scaler.fit_transform(X)

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [17]:
sclaed_feature = pd.DataFrame(sclaed_feature)
print(type(sclaed_feature))

<class 'pandas.core.frame.DataFrame'>

In [18]:
sclaed_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.728736,-0.459678,-0.318567,-0.157259,-0.279626,-0.400550,-0.305207,3.724554,-0.761444,-0.839282,...,-0.144850,-0.400375,0.000000,-0.254084,1.656694,-1.258671,-0.601206,-0.394890,-0.396662,-0.335974
1,-1.682282,-0.435278,-0.355043,-0.217331,-0.329333,-0.401838,-0.305923,-0.996800,-0.878794,-0.879661,...,-0.145022,-0.415910,-0.358635,-0.471336,-0.271498,-1.290147,-0.655589,-0.396290,-0.409950,-0.354221
2,-1.675646,-0.294016,-0.263854,-0.217331,-0.205066,-0.311711,-0.257458,-0.379392,-0.356137,-0.407223,...,-0.141275,-0.307163,-0.358635,-0.362710,-0.271498,-0.031114,-0.338352,-0.312288,-0.310295,-0.262987
3,-1.669010,-0.345384,-0.263854,-0.217331,-0.205066,-0.328878,-0.270384,-0.488346,-0.246911,-0.593279,...,-0.141698,-0.307163,-0.358635,-0.471336,-0.271498,-0.188493,-0.474311,-0.326288,-0.332441,-0.262987
4,-1.662374,-0.371068,-0.355043,-0.217331,-0.329333,-0.363212,-0.288464,0.819105,-0.698256,-0.387344,...,-0.144556,-0.384840,-0.358635,-0.471336,0.692598,-0.818009,-0.428991,-0.368289,-0.354586,-0.354221

# Feature matrix dimention reduction by LDA

In [19]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [26]:
lda = LDA(n_components=1)

In [27]:
X_train_lda = lda.fit_transform(sclaed_feature,y)
print(type(X_train_lda))

<class 'numpy.ndarray'>

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [28]:
X_train_lda = pd.DataFrame(X_train_lda)
X_train_lda.head()

          0
0  1.579538
1 -2.396594
2 -2.186304
3 -2.409495
4 -2.089764

In [ ]:
# from sklearn.metrics import classification_report
# from elm import ELMClassifier

# Train Test Split

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_lda, y, test_size=0.3, random_state=42)

# ELM model

In [30]:
import numpy as np

class ExtremeLearningMachine:
    def __init__(self, n_hidden_units):
        self.n_hidden_units = n_hidden_units
        self.input_weights = None
        self.biases = None
        self.output_weights = None

    def _activation_function(self, X):
        return np.maximum(0, X)  # ReLU activation

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.input_weights = np.random.randn(n_features, self.n_hidden_units)
        self.biases = np.random.randn(self.n_hidden_units)

        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        self.output_weights = np.linalg.pinv(hidden_layer_output).dot(y)

    def predict(self, X):
        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        return np.dot(hidden_layer_output, self.output_weights)

# Example usage
if __name__ == "__main__":
    

    elm = ExtremeLearningMachine(n_hidden_units=20)
    elm.fit(X_train, y_train)
    predictions = elm.predict(X_test)
    print(predictions)

[[ 8.59931302e-01]
 [ 8.68132846e-01]
 [-1.79118302e-03]
 [ 6.14653412e-04]
 [-8.90648430e-04]
 [-1.48458768e-03]
 [ 5.02927156e-01]
 [ 1.06070861e+00]
 [ 6.19270046e-04]
 [ 5.47690540e-04]
 [-3.35229179e-04]
 [ 7.33342676e-01]
 [-1.62208969e-03]
 [ 9.97254153e-01]
 [ 9.22490792e-01]
 [ 2.80638422e-03]
 [ 3.33243857e-03]
 [ 1.72074400e-02]
 [ 4.43739224e-01]
 [ 1.27711618e-04]
 [ 3.94416380e-02]
 [ 7.67907076e-01]
 [ 4.40206833e-03]
 [ 6.30368318e-02]
 [ 4.42660117e-01]
 [-1.78373740e-03]
 [-3.05907886e-03]
 [ 9.34709808e-01]
 [ 9.02694278e-01]
 [ 7.28383895e-01]
 [ 5.29123281e-01]
 [-2.15775617e-04]
 [ 1.15675458e-01]
 [ 1.21666832e-02]
 [-2.60711765e-02]
 [ 5.78674701e-02]
 [ 7.76493899e-02]
 [-1.74383614e-04]
 [ 8.55989810e-03]
 [ 4.09043210e-02]
 [ 7.44960955e-05]
 [-6.61604537e-05]
 [ 3.36158273e-03]
 [ 8.49464389e-05]
 [ 6.08415921e-01]
 [-1.79792081e-03]
 [-9.35894124e-05]
 [-3.22277582e-03]
 [ 6.02838218e-01]
 [ 3.59486345e-03]
 [ 5.62894577e-01]
 [ 2.76109001e-03]
 [ 6.73399466e-01]
 [ 7.27582774e-01]
 [ 3.17350600e-04]
 [ 9.97189382e-04]
 [-1.04311827e-03]
 [ 9.54572803e-04]
 [ 7.28531436e-01]
 [ 8.07974374e-02]
 [ 5.02588035e-02]
 [-1.04232696e-03]
 [ 2.74906214e-02]
 [ 7.59746172e-03]
 [ 3.03720400e-03]
 [ 8.16020004e-02]
 [ 1.19850881e-03]
 [-1.30274757e-03]
 [ 4.97166682e-04]
 [ 8.00749194e-02]
 [-5.63810579e-05]
 [-1.97710529e-03]
 [-1.35780243e-05]
 [ 1.13147705e-04]
 [ 3.70257220e-03]
 [-1.98726176e-02]
 [ 7.34086497e-01]
 [ 2.94451252e-03]
 [-2.80413932e-03]
 [ 3.08487889e-03]
 [-2.60020141e-03]
 [ 8.75821124e-01]
 [-2.77508334e-04]
 [ 7.21349057e-01]
 [-3.55367841e-03]
 [ 1.06360221e+00]
 [ 9.64030899e-04]
 [ 7.84613107e-04]
 [ 2.41176481e-02]
 [-1.64993986e-03]
 [ 2.75851440e-02]
 [ 1.61570771e-04]
 [ 7.34130325e-01]
 [ 4.05272896e-04]
 [-5.27751314e-04]
 [ 1.36703694e-01]
 [ 1.08216923e-03]
 [ 1.88698602e-01]
 [ 1.17579300e-02]
 [ 2.36566202e-01]
 [ 2.55873566e-03]
 [ 7.29024996e-01]
 [ 1.35584180e-03]
 [ 1.23541105e+00]
 [-5.10693574e-04]
 [ 1.47390905e-04]
 [-9.43852252e-04]
 [ 2.40286876e-02]
 [ 1.31317572e-02]
 [-1.15758107e-05]
 [ 5.50460479e-02]
 [-7.87387420e-04]
 [ 9.12209534e-04]
 [ 2.52682664e-03]
 [ 3.54127747e-03]
 [-1.82054159e-03]
 [-2.25687905e-05]
 [-2.22735614e-04]
 [ 7.51016804e-01]
 [ 1.31567924e-03]
 [ 7.48088742e-01]
 [ 6.06945794e-02]
 [ 1.50706847e-03]
 [ 1.00349234e+00]
 [ 7.52461089e-01]
 [ 7.50857895e-01]
 [ 7.25494975e-01]
 [ 4.07980532e-04]
 [ 7.86538189e-01]
 [ 4.90465227e-05]
 [ 3.80405235e-01]
 [ 5.07840731e-03]
 [-1.86073589e-03]
 [-3.19646471e-07]
 [ 2.78083877e-01]
 [ 5.62670489e-02]
 [ 7.78184670e-01]
 [-2.92046115e-03]
 [ 3.23108054e-03]
 [ 7.30089237e-01]
 [ 1.51210999e-03]
 [-1.76280284e-03]
 [ 7.69857971e-03]
 [ 9.21700494e-04]
 [-1.76159366e-03]
 [-2.04836104e-03]
 [ 7.43520587e-01]
 [ 2.22879868e-03]
 [ 6.40355514e-04]
 [ 3.87927546e-03]
 [-4.47468029e-04]
 [ 7.98685617e-03]
 [-4.54368869e-05]
 [ 7.54076785e-02]
 [ 1.59814307e-03]
 [-4.71486826e-04]
 [ 4.49792501e-03]]

In [31]:
print(type(predictions))

<class 'numpy.ndarray'>

## If prediction result is grater than .5 and positive then its predict 1 
## if prediction result is less than .5 or negative then its 0

In [32]:
predictions = pd.DataFrame(predictions)
predictions.head()

          0
0  0.859931
1  0.868133
2 -0.001791
3  0.000615
4 -0.000891

In [33]:
predictions.shape

(157, 1)

In [34]:
data.shape

(522, 23)