In [1]:
# pip install elm

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("csv_result-KC2.csv")
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,no
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,no
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,no
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,no
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,no

In [4]:
data.tail()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
517,518,4.0,1.0,1.0,1.0,5.0,11.61,0.50,2.0,5.80,...,2,0,0,0,4.0,1.0,4.0,1.0,1.0,yes
518,519,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
519,520,4.0,1.0,1.0,1.0,4.0,8.00,0.67,1.5,5.33,...,2,0,0,0,3.0,1.0,3.0,1.0,1.0,yes
520,521,4.0,1.0,1.0,1.0,5.0,11.61,0.67,1.5,7.74,...,2,0,0,0,3.0,2.0,3.0,2.0,1.0,yes
521,522,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.0,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,yes

In [5]:
d = {'no': 0, 'yes': 1}
data['CLASS'] = data['CLASS'].map(d).fillna(data['CLASS'])

In [6]:
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,CLASS
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,0
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,1,0,0,0,1.0,0.0,1.0,0.0,1.0,0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,8,0,1,0,9.0,7.0,13.0,9.0,3.0,0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,8,0,0,0,8.0,4.0,11.0,7.0,3.0,0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3,0,0,1,4.0,5.0,5.0,5.0,1.0,0

# feature Matrix Generation

In [7]:
# Separate features and target
X = data.drop(columns=['CLASS'])  # Replace 'target' with your actual target column name
y = data['CLASS']

In [8]:
# print(type(sclaed_feature))

In [9]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [10]:
X.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,1,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,1.30,2,2,2,2,1.2,1.2,1.2,1.2,1.4
1,8,3.0,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,...,0.00,1,0,0,0,1.0,0.0,1.0,0.0,1.0
2,9,14.0,2.0,1.0,2.0,22.0,88.00,0.17,5.79,15.21,...,28.29,8,0,1,0,9.0,7.0,13.0,9.0,3.0
3,10,10.0,2.0,1.0,2.0,18.0,64.53,0.14,7.00,9.22,...,25.09,8,0,0,0,8.0,4.0,11.0,7.0,3.0
4,11,8.0,1.0,1.0,1.0,10.0,31.70,0.50,2.00,15.85,...,3.52,3,0,0,1,4.0,5.0,5.0,5.0,1.0

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: CLASS, dtype: int64

In [12]:
print(type(y))

<class 'pandas.core.series.Series'>

In [13]:
y = y.to_frame()
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [14]:
y.head()

   CLASS
0      0
1      0
2      0
3      0
4      0

In [15]:
X.fillna(method='ffill',inplace=True)
X = pd.get_dummies(X,drop_first=True)

/var/folders/29/qgdtjbz504l5y0fqzxvwjwy00000gn/T/ipykernel_5253/442477162.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X.fillna(method='ffill',inplace=True)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sclaed_feature = scaler.fit_transform(X)

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [17]:
sclaed_feature = pd.DataFrame(sclaed_feature)
print(type(sclaed_feature))

<class 'pandas.core.frame.DataFrame'>

In [18]:
sclaed_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.728736,-0.459678,-0.318567,-0.157259,-0.279626,-0.400550,-0.305207,3.724554,-0.761444,-0.839282,...,-0.144850,-0.400375,0.000000,-0.254084,1.656694,-1.258671,-0.601206,-0.394890,-0.396662,-0.335974
1,-1.682282,-0.435278,-0.355043,-0.217331,-0.329333,-0.401838,-0.305923,-0.996800,-0.878794,-0.879661,...,-0.145022,-0.415910,-0.358635,-0.471336,-0.271498,-1.290147,-0.655589,-0.396290,-0.409950,-0.354221
2,-1.675646,-0.294016,-0.263854,-0.217331,-0.205066,-0.311711,-0.257458,-0.379392,-0.356137,-0.407223,...,-0.141275,-0.307163,-0.358635,-0.362710,-0.271498,-0.031114,-0.338352,-0.312288,-0.310295,-0.262987
3,-1.669010,-0.345384,-0.263854,-0.217331,-0.205066,-0.328878,-0.270384,-0.488346,-0.246911,-0.593279,...,-0.141698,-0.307163,-0.358635,-0.471336,-0.271498,-0.188493,-0.474311,-0.326288,-0.332441,-0.262987
4,-1.662374,-0.371068,-0.355043,-0.217331,-0.329333,-0.363212,-0.288464,0.819105,-0.698256,-0.387344,...,-0.144556,-0.384840,-0.358635,-0.471336,0.692598,-0.818009,-0.428991,-0.368289,-0.354586,-0.354221

# Feature matrix dimention reduction by PCA

In [19]:
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [20]:
pca = PCA(n_components=5)

In [21]:
X_train_pca = pca.fit_transform(sclaed_feature)
print(type(X_train_pca))

<class 'numpy.ndarray'>

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [22]:
X_train_pca = pd.DataFrame(X_train_pca)
X_train_pca.head()

          0         1         2         3         4
0 -1.353738  3.596269  1.134997  2.277400  0.609976
1 -1.949459  0.875410  1.235818 -0.968379 -0.646147
2 -1.269706  0.390251  1.407840 -0.826558 -0.284107
3 -1.392155  0.410550  1.424260 -0.802650 -0.401285
4 -1.621556  1.462893  1.332135  0.367427 -0.258586

In [23]:
# from sklearn.metrics import classification_report
# from elm import ELMClassifier

# After feature Reduction by PCA Using LDA for further Feature reduction

In [24]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [25]:
lda = LDA(n_components=1)

In [26]:
X_train_lda = lda.fit_transform(sclaed_feature,y)
print(type(X_train_lda))

<class 'numpy.ndarray'>

/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/san5h0llow/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [27]:
X_train_lda = pd.DataFrame(X_train_lda)
X_train_lda.head()

          0
0  1.579538
1 -2.396594
2 -2.186304
3 -2.409495
4 -2.089764

# Train Test Split

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_lda, y, test_size=0.3, random_state=42)

# ELM model

In [29]:
import numpy as np

class ExtremeLearningMachine:
    def __init__(self, n_hidden_units):
        self.n_hidden_units = n_hidden_units
        self.input_weights = None
        self.biases = None
        self.output_weights = None

    def _activation_function(self, X):
        return np.maximum(0, X)  # ReLU activation

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.input_weights = np.random.randn(n_features, self.n_hidden_units)
        self.biases = np.random.randn(self.n_hidden_units)

        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        self.output_weights = np.linalg.pinv(hidden_layer_output).dot(y)

    def predict(self, X):
        hidden_layer_output = self._activation_function(np.dot(X, self.input_weights) + self.biases)
        return np.dot(hidden_layer_output, self.output_weights)

# Example usage
if __name__ == "__main__":
    

    elm = ExtremeLearningMachine(n_hidden_units=20)
    elm.fit(X_train, y_train)
    predictions = elm.predict(X_test)
    print(predictions)

[[ 8.65886217e-01]
 [ 8.75452042e-01]
 [ 3.43730132e-07]
 [ 2.46557678e-06]
 [-2.07073672e-07]
 [-1.31526675e-05]
 [ 4.88438946e-01]
 [ 1.07790773e+00]
 [-1.13060162e-06]
 [-1.31532395e-06]
 [ 7.01012542e-07]
 [ 7.18240281e-01]
 [ 2.40305734e-07]
 [ 1.02605196e+00]
 [ 9.38852128e-01]
 [ 2.34274402e-06]
 [-1.22773450e-07]
 [ 1.88975335e-06]
 [ 4.07061253e-01]
 [-1.56738065e-06]
 [ 4.33699574e-02]
 [ 7.58554276e-01]
 [-1.14039937e-05]
 [ 4.24611943e-02]
 [ 4.05577586e-01]
 [-1.60836710e-05]
 [-7.81010248e-06]
 [ 9.53103709e-01]
 [ 9.15762574e-01]
 [ 7.12456634e-01]
 [ 5.24456089e-01]
 [-6.19853509e-07]
 [ 1.49732922e-01]
 [-3.70548214e-04]
 [ 4.52166828e-06]
 [ 4.26602910e-02]
 [ 1.97375358e-01]
 [-1.74202854e-06]
 [-5.49092221e-08]
 [ 4.33136225e-02]
 [-7.97395572e-07]
 [-7.11364272e-07]
 [ 1.15717476e-04]
 [-1.59304683e-06]
 [ 6.33475813e-01]
 [-1.66225801e-05]
 [-6.94587591e-07]
 [-8.26797402e-06]
 [ 6.25807009e-01]
 [ 7.12897806e-06]
 [ 5.70888359e-01]
 [ 8.46930606e-06]
 [ 6.88840115e-01]
 [ 7.11522251e-01]
 [ 1.63400058e-06]
 [ 3.53555593e-06]
 [-2.17132346e-06]
 [ 3.41635446e-06]
 [ 7.12628718e-01]
 [ 8.14731303e-02]
 [ 4.29533369e-02]
 [-2.16911013e-06]
 [ 4.38302479e-02]
 [-3.03738004e-04]
 [ 8.53620206e-06]
 [ 4.21794664e-02]
 [ 4.09866009e-06]
 [ 4.49830253e-08]
 [-1.34564661e-06]
 [ 1.16759835e-01]
 [-1.67786666e-06]
 [-4.78374874e-06]
 [ 7.08370692e-07]
 [-1.26780486e-05]
 [ 6.85718076e-06]
 [ 3.02145186e-06]
 [ 7.19107832e-01]
 [-1.27809606e-07]
 [-7.09701922e-06]
 [-1.25987341e-07]
 [-8.54287009e-06]
 [ 8.84419222e-01]
 [-2.98603524e-08]
 [ 7.04251590e-01]
 [ 2.53307975e-06]
 [ 1.07370811e+00]
 [ 3.44280940e-06]
 [ 2.94096563e-06]
 [ 4.39601571e-02]
 [ 2.57340048e-07]
 [ 4.38266073e-02]
 [ 7.93906928e-07]
 [ 7.19158951e-01]
 [-9.99712206e-07]
 [-4.29036408e-07]
 [ 1.76441636e-01]
 [ 3.77325035e-06]
 [ 2.33681721e-01]
 [-3.64571509e-04]
 [ 2.55949788e-01]
 [ 1.39262827e-04]
 [ 7.13204379e-01]
 [-1.23088974e-05]
 [ 5.89026005e-01]
 [-6.82095347e-07]
 [ 1.15861174e-06]
 [-1.74532040e-07]
 [ 4.39635834e-02]
 [-3.84659327e-04]
 [ 7.13971016e-07]
 [ 4.27689574e-02]
 [-1.45602687e-06]
 [ 3.29786151e-06]
 [ 7.81405547e-06]
 [ 8.70316870e-05]
 [-1.74820730e-05]
 [ 6.83222908e-07]
 [ 1.23342673e-07]
 [ 7.38854401e-01]
 [ 4.42639376e-06]
 [ 7.35439272e-01]
 [ 4.25514055e-02]
 [ 4.96172244e-06]
 [ 1.03332783e+00]
 [ 7.40538935e-01]
 [ 7.38669059e-01]
 [ 7.09087158e-01]
 [-1.00136830e-06]
 [ 7.80284569e-01]
 [ 8.83535805e-07]
 [ 3.28571039e-01]
 [-1.00106838e-07]
 [ 1.43762163e-05]
 [ 7.63635779e-07]
 [ 2.75263861e-01]
 [ 4.27219308e-02]
 [ 7.70541490e-01]
 [-7.42237929e-06]
 [ 8.04696493e-06]
 [ 7.14445650e-01]
 [ 4.97582394e-06]
 [-1.52882468e-05]
 [-1.04247411e-05]
 [ 3.32440838e-06]
 [-1.52423032e-05]
 [-4.98305593e-06]
 [ 7.30111230e-01]
 [-1.37101196e-07]
 [-1.14349835e-06]
 [-1.15592931e-05]
 [-5.05249190e-07]
 [-3.09431649e-04]
 [-1.67129835e-06]
 [ 1.73287000e-01]
 [ 3.51577846e-07]
 [-4.63450071e-07]
 [-1.13755188e-05]]

In [30]:
print(type(predictions))

<class 'numpy.ndarray'>

## If prediction result is grater than .5 then its predict 1 
## if prediction result is less than .5 or negative then its 0

In [31]:
predictions = pd.DataFrame(predictions)
predictions.head()

              0
0  8.658862e-01
1  8.754520e-01
2  3.437301e-07
3  2.465577e-06
4 -2.070737e-07

In [32]:
predictions.shape

(157, 1)

In [33]:
data.shape

(522, 23)